#home {
      width: 350px;
      height: 350px;
      background-image: url('../img/snake.png');
      background-size: auto 350px;
      background-repeat: no-repeat;
      background-color: lightblue;
      background-position: center center;
      padding: 5;
      margin: 0;

    }

    button {
      background-color: green;
      color: white;
      border: none;
      bottom: 0;
      height: 30px;
      font-size: 12pt;
      float: center;
      width: 90px;
      position: center center;
      margin-top: 3;
    }
    button:hover {
      background-color: orange;
    }

    button:disabled {
      background-color: grey;
    }

    p {
      font-family: Helvetica;
      font-weight: bold;
      width: 350px;
      margin: 18px 0 5px 8px;
      float: center center;
    }

    .game {
      margin: 0 auto;
      position: center center;
      width: 350px;
      height: 350px;
      background-color: lightblue;
    }

    .mycanvas {
      width: 500px;
      height: 500px;
    }
